@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");

:root {
  /* Define color variables */
  --primary-color: #56ccf2;
  --secondary-color: #2d9cdb;
  --tertiary-color: #f8b195;
  --quaternary-color: #f67280;
  --quinary-color: #c06c84;
  --senary-color: #6c5b7b;
  --septenary-color: #355c7d;
  --octonary-color: #99b898;
  --nonary-color: #feceab;
  --denary-color: #ff847c;

  /* Define font family */
  --ff-main: "Raleway", sans-serif;
}

* {
  /* Reset margin, padding, and box-sizing for all elements */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Set the main font family and ensure the body takes up at least the full height of the viewport */
  font-family: var(--ff-main);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-header {
  /* Style the main header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  padding: 1em;
}

nav ul {
  /* Style the navigation list */
  display: flex;
  list-style: none;
}

.nav li {
  /* Style the navigation list items */
  margin-right: 1em;
}

.nav a {
  /* Style the navigation links */
  color: white;
  text-decoration: none;
  padding: 0.5em;
}

.nav a:hover {
  /* Style the navigation links on hover */
  background-color: rgba(255, 255, 255, 0.3);
}

.shop-name {
  /* Style the shop name */
  font-size: 2em;
  color: white;
}

.content-section {
  /* Style the content sections */
  margin: 1em;
}

.container {
  /* Style the main container */
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  /* Style the section headers */
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

.about-band-image {
  /* Style the about band images */
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}

/* Footer Styles */
.main-footer {
  background-color: #56ccf2;
  color: white;
  padding: 1em 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-name {
  font-size: 2em;
  color: white;
  margin: 0;
}

.footer-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav img {
  width: 30px;
  height: 30px;
  margin: 0 0.5em;
}

.btn {
  /* Style the buttons */
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
  border-radius: 0.3em;
}

.btn-header {
  /* Style the header button */
  margin: 0.5em 15% 2em 15%;
  color: white;
  border: 2px solid #2d9cdb;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  /* Style the header button on hover */
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-primary {
  /* Style the primary buttons */
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-primary:hover {
  /* Style the primary buttons on hover */
  background-color: var(--secondary-color);
}

.course-row {
  /* Style the course rows */
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.course-row:last-child {
  /* Style the last course row */
  border: none;
}

.course-item {
  /* Style the course items */
  display: inline-block;
  padding-right: 0.5em;
}

.course-date {
  /* Style the course dates */
  color: #555;
  width: 11%;
  font-weight: bold;
}

.course-city {
  /* Style the course cities */
  width: 24%;
}

.course-arena {
  /* Style the course arenas */
  width: 42%;
}

.course-btn {
  /* Style the course buttons */
  max-width: 19%;
}

.shop-item {
  /* Style the shop items */
  margin: 30px;
}

/* Remove underline from title, price, and add to cart button */
.shop-item-title,
.shop-item-price,
.shop-item-button {
    text-decoration: none;
}

.shop-item-title {
  /* Style the shop item titles */
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  /* Style the shop item images */
  height: 250px;
  width: 250px;
}

.shop-item-details {
  /* Style the shop item details */
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  /* Style the shop item prices */
  flex-grow: 1;
  color: #333;
}

.shop-items {
  /* Style the shop items container */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  /* Style the cart headers */
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  /* Style the cart columns */
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  /* Style the cart rows */
  display: flex;
}

.cart-item {
  /* Style the cart items */
  width: 45%;
}

.cart-price {
  /* Style the cart prices */
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  /* Style the cart quantities */
  width: 35%;
}

.cart-item-title {
  /* Style the cart item titles */
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  /* Style the cart item images */
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  /* Style the danger buttons */
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  /* Style the danger buttons on hover */
  background-color: #cc4c4c;
}

.cart-quantity-input {
  /* Style the cart quantity inputs */
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  /* Style the last cart row */
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  /* Style the last cart column */
  border: none;
}

.cart-total {
  /* Style the cart total */
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  /* Style the cart total title */
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  /* Style the cart total price */
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  /* Style the purchase button */
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

/* Modal Styles */
.modal {
  /* Style the modal */
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  /* Style the modal content */
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 15px;
}

.close {
  /* Style the close button */
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  /* Style the close button on hover and focus */
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.main-content {
  /* Style the main content area */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Product Item Page Styles */
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image-container {
  margin-bottom: 2em;
}

.product-image {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details-container {
  text-align: center;
  margin-bottom: 2em;
}

.product-title {
  font-size: 2em;
  color: #333;
  margin-bottom: 1em;
}

.product-price {
  font-size: 1.5em;
  color: var(--primary-color);
  margin-bottom: 1em;
}

.product-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.quantity-input {
  width: 50px;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 1em;
}

.product-category,
.product-tags {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 1em;
}

.product-description,
.shipping-info {
  text-align: left;
  margin-bottom: 2em;
}

.product-description h3,
.shipping-info h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 1em;
}

.product-description p,
.shipping-info p {
  font-size: 1em;
  color: #555;
  line-height: 1.6;
}

/* Guide Template Styles */
.guide {
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.guide img {
  max-width: 100%;
  border-radius: 8px;
}

.guide h2 {
  margin-top: 0;
}

.guide p {
  line-height: 1.6;
}

.guide ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.guide ul li {
  margin-bottom: 0.5rem;
}

/* About Page Styles */
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.about-image {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  margin-bottom: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text {
  text-align: center;
  max-width: 800px;
}

.about-text p {
  margin-bottom: 1.5em;
  line-height: 1.6;
  color: #555;
}

/* Ensure the main content takes up the remaining space */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 1em;
}

.section-header {
  font-size: 2.5em;
  color: var(--primary-color);
  margin-bottom: 1em;
}

/* Blog Page Styles */
.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-post-image {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  margin-bottom: 1em;
}

.blog-post-content {
  text-align: center;
  max-width: 800px;
}

.blog-post-title {
  font-size: 2em;
  color: #333;
  margin-bottom: 0.5em;
}

.blog-post-meta {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 1em;
}

.blog-post-author,
.blog-post-date {
  font-weight: bold;
}

.blog-post-text {
  font-size: 1.1em;
  color: #555;
  line-height: 1.6;
  text-align: left;
}

.blog-post-list {
  text-align: left;
  margin: 1em 0;
  padding-left: 1.5em;
}

.blog-post-list li {
  margin-bottom: 0.5em;
}



